<div fxLayoutAlign="center center" fxFlexFill class="container center">
    <mat-card fxFlex="30" >

<form>
    <div class="row">
        <div class="col text-center p-2">
            <span class="fs-3">Register</span>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="firstname" class="form-lable">Fist Name</label>
            <input type="text" id="firstname" class="form-control">
        </div>
        <div class="col">
            <label for="firstname" class="form-lable">Last Name</label>
            <input type="text" id="lastname" class="form-control">
        </div>
    </div>
    <div class="row">
        <div class="col mb-3">
            <label for="email" class="form-lable">E-mail</label>
            <input type="email" id="email" class="form-control">

        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="password" class="form-lable">Password</label>
            <input type="password" id="password" class="form-control">
        </div>
        <div class="col">
            <label for="conpassword" class="form-lable">Retype-Password</label>
            <input type="password" id="conpassword" class="form-control">
        </div>
    </div>
    <div class="row">
        <div class="col-6 offset-3" >
            <button type="submit" class="btn btn-primary">
                Submit

            </button> </div>
    </div>
</form>
</mat-card>
</div>